<a href="https://colab.research.google.com/github/tku-George/Introduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(hi)

NameError: ignored

In [2]:
print(type(i))

NameError: ignored

In [3]:
print(i)

NameError: ignored

In [4]:
print(list(i))

NameError: ignored

In [5]:
j = range(10)

In [6]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [9]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [11]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [12]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [14]:
f = range(0,9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [19]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [20]:
for n in range(10):
  print(n, end =",")

0,1,2,3,4,5,6,7,8,9,

In [22]:
for n in range(3,10):
  print(n, end =",")

3,4,5,6,7,8,9,

1,2,3,4,5,

1,2,3,4,5,6,7,8,9,10,11,12,

In [28]:
test = int(input("請輸入一個正整數:"))
for n in range(1,test+1):
  print(n, end =",")

請輸入一個正整數:10
1,2,3,4,5,6,7,8,9,10,

In [29]:
test = int(input("請輸入一個正整數:"))
for n in range(1,test+1,2):
  print(n, end =",")

請輸入一個正整數:10
1,3,5,7,9,

In [33]:
sum = 0
for n in range(3):
  sum =sum+n
print(sum)

3

In [72]:
test = int(input("請輸入一個整數合為:"))
sum = 0
for n in range(1,test+1):
  sum =sum+n
  print("1到",n,"整數合為:",sum)

請輸入一個整數合為:50
1到 1 整數合為: 1
1到 2 整數合為: 3
1到 3 整數合為: 6
1到 4 整數合為: 10
1到 5 整數合為: 15
1到 6 整數合為: 21
1到 7 整數合為: 28
1到 8 整數合為: 36
1到 9 整數合為: 45
1到 10 整數合為: 55
1到 11 整數合為: 66
1到 12 整數合為: 78
1到 13 整數合為: 91
1到 14 整數合為: 105
1到 15 整數合為: 120
1到 16 整數合為: 136
1到 17 整數合為: 153
1到 18 整數合為: 171
1到 19 整數合為: 190
1到 20 整數合為: 210
1到 21 整數合為: 231
1到 22 整數合為: 253
1到 23 整數合為: 276
1到 24 整數合為: 300
1到 25 整數合為: 325
1到 26 整數合為: 351
1到 27 整數合為: 378
1到 28 整數合為: 406
1到 29 整數合為: 435
1到 30 整數合為: 465
1到 31 整數合為: 496
1到 32 整數合為: 528
1到 33 整數合為: 561
1到 34 整數合為: 595
1到 35 整數合為: 630
1到 36 整數合為: 666
1到 37 整數合為: 703
1到 38 整數合為: 741
1到 39 整數合為: 780
1到 40 整數合為: 820
1到 41 整數合為: 861
1到 42 整數合為: 903
1到 43 整數合為: 946
1到 44 整數合為: 990
1到 45 整數合為: 1035
1到 46 整數合為: 1081
1到 47 整數合為: 1128
1到 48 整數合為: 1176
1到 49 整數合為: 1225
1到 50 整數合為: 1275

In [71]:
test = int(input("請輸入一個整數合為:"))
sum = 0
for n in range(1,test+1):
  sum =sum+n
  print("1到",n,"整數合為:",sum)

請輸入一個整數合為:10
1到 1 整數合為: 1
1到 2 整數合為: 3
1到 3 整數合為: 6
1到 4 整數合為: 10
1到 5 整數合為: 15
1到 6 整數合為: 21
1到 7 整數合為: 28
1到 8 整數合為: 36
1到 9 整數合為: 45
1到 10 整數合為: 55